*
{
	padding: 0;
	margin: 0;
	border: 0;
}

/* Layout */
body
{   
	background-image: url('../images/back.jpg');
	background-size: 960px 540px;
	width: 960px;
	height: 540px;
	
}

.textDetails
{
	font-style: italic;
	text-align: center;
	line-height: 25px;
	text-shadow: 1px 1px 1px rgba(255,255,255,5);
	color: #ffffff;
	font-size: 16px;
	width: 100%;	
	display: none;
	position: relative;
	text-decoration: none !important;
}

.author
{
	top: 5px;
}

.title
{	
	top: 5px;
}


